<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <mappers>
<!--    SQL 저장파일 (+경로) -->
      <mapper resource="mybatis/mappers/memmap.xml"/>
      <mapper resource="mybatis/mappers/placemap.xml"/>
   </mappers>
</configuration>